.section1{
    display: flex;
}
.leftText{
    width: 50%;
}
.leftText h1{
    color: white;
    letter-spacing: 3px;
}
.rightPart{
    width: 50%;
    overflow: hidden;
   border-radius: 18px;
}
.rightPart img{
    width: 100%;
    padding: 10px;
    border-radius: 18px;
}
.rightPart:hover img{
    transform: scale(1.2);
    transition: 4s;
}
